@media only screen and (min-width: 40.5em) {


.container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 1fr);
    max-width: 100%;
    height: 1500px;
    color: rgb(193, 145, 2);
    font-size: 25px;
    font-weight: bold;
    
    }

/* Ribbon */
.container div:nth-of-type(1){
    grid-column: 1 / 7;
    grid-row: 6 / 7;
    background-color: var(--secondary-color);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.container div:nth-of-type(1) .title-1{
    width: 100%;
    position: absolute;
    top: 15%;
    left: 0% ;
    font-size: 2.2vw;
    color: white;

}

.container div:nth-of-type(1) .text-1{
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0%;
    font-size: 1.5vw;
    color: white;
    font-weight: 500;
}
.container div:nth-of-type(1) .text-2{
    width: 80%;
    position: absolute;
    bottom: 0px;
    top: 70%;
    left: 40%;
    font-size: 2vw;
    color: rgb(210, 173, 22);
    font-weight: 500;
}


/* Wather */
.container div:nth-of-type(2){
    grid-column: 7 / 10;
    grid-row: 6 / 7;
    background-color: var(--accent2-color);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    position: relative;
    font-size: 2.5vw;
    display: inline-block;
    text-align: center;
    color: var(--secondary-color);
}

.container div:nth-of-type(2)  figure #weather-icon{
  width: 40%;
  position: absolute;
  top: calc(1rem + 4vh);
  left: 1vw;
}

.container div:nth-of-type(2) .temp{
  width: 40%;
  position: absolute;
  top:  calc(1rem + 4vh);
  right: 2vw;
  font-size: 3.5vw;
  color:  var(--secondary-color);
  font-weight: 600;
  -webkit-text-stroke: 1px var(--secondary-color);

}

.container div:nth-of-type(2) .cloudy{
  width: 60%;
  position: absolute;
  top: calc(1rem + 18vh);
  left: 6vw;
  font-size: 2.5vw;
  font-weight: 800;
  color:  var(--secondary-color);
}
.container div:nth-of-type(2) .wind{
  width: 80%;
  position: absolute;
  top: calc(1rem + 20vh);
  left: 2.5vw;
  color:  var(--secondary-color);
  font-size: 1.5vw;
  font-weight: 600;
}
.container div:nth-of-type(2) .wind-ch{
  width: 80%;
  position: absolute;
  top: calc(1rem + 24vh);
  left: 2.5vw;
  color:  var(--secondary-color);
  font-size: 1.5vw;
  font-weight: 600;
}

/* Join */
.container div:nth-of-type(3){
    grid-column: 1 / 10;
    grid-row: 5 / 6;
    background-color: var(--secondary-color);
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.container div:nth-of-type(3) .join-us  {
  background-color: var(--accent1-color);
  border: none;
  color: white;
  padding: 5px 50px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1em;
  
}

.container div:nth-of-type(3) .text-1 {
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}

  /* Image */
.container div:nth-of-type(4){
    grid-column: 1 / 10;
    grid-row: 1 / 2;
    border-radius: 0.5em;
    margin: 0.5px;
    position: relative;
    display: inline-block;
    text-align: center;
    }

.landscape{
  max-height: 100%;
  max-width: 100%;
}

.container div:nth-of-type(4) .welcome{
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--secondary-color);
  font-weight: bold;
  background-color: transparent;

  font-size: 5vw;
}

.container div:nth-of-type(4) .button {
  background-color: var(--accent1-color);
  border: none;
  color: var(--primary-color);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 2.2vw;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  top: 30vw;
  right: 50px;
  border: 1px solid var(--accent1-color);
  border-radius: 1em;
  }

       
  /* News Relase */
.container div:nth-of-type(5){
    grid-column: 1 / 10;
    grid-row: 2 / 3;
    background-color: var(--secondary-color);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container div:nth-of-type(5) .text-1 {
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}

  /* Spot Light */
.container div:nth-of-type(6){
grid-column: 1 / 10;
grid-row: 3 / 5;
background-color: var(--secondary-color);
display: flex;
grid-template-columns: repeat(1, 1fr);
grid-template-rows: repeat(1, 1fr);
order: 6;
height: 100%;
margin-top: 5px;
margin-bottom: 10px;
}

  /* Spot Light */
.container div:nth-of-type(6) .right2 {
  background-color:  var(--accent1-color);
  height: 95%;
  width: 48%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2px;
  margin-left: auto;
  position: relative;
  display: inline-block;
  text-align: center;
  color: var(--primary-color);
  }
  
  .container div:nth-of-type(6) .right2 .img-spotlight{
  width: 40%;
  position: absolute;
  top: 40%;
  left: 10px;
  }
  
  .container div:nth-of-type(6) .right2 .text-1 {
      border: none;
      color: white;
      text-align: center;
      font-size: 15px;
      font-weight: 300;
      top: 20%;
      left: 10px;
  }
  
.container div:nth-of-type(6) .right3 {
  background-color:  var(--accent1-color);
  height: 95%;
  width: 48%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: 2px;
  position: relative;
  display: inline-block;
  text-align: center;
  color: var(--primary-color);
  }
  
  .container div:nth-of-type(6) .right3 .img-spotlight{
  width: 40%;
  position: absolute;
  top: 40%;
  left: 10px;
  }
  
  .container div:nth-of-type(6) .right3 .text-1 {
      border: none;
      color: white;
      text-align: center;
      font-size: 15px;
      font-weight: 300;
      top: 20%;
      left: 10px;
  }
  
.container div:nth-of-type(6) .right4 {
  background-color:  rgba(64, 134, 204, 0);
  padding: 0px;
  border: 1px solid rgba(204, 204, 204, 0);
  border-radius: 1em;
  height: 0%;
  width: 0%;
  color: #ffffff00;
  margin: 0%;
  position: relative;
  display: inline-block;
  text-align: center;
  }
  
  .container div:nth-of-type(6) .right4 .img-spotlight{
  width: 0%;
  position: absolute;
  top: 0%;
  left: 0%;
  }
  

/* this is the footer css control */

footer {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: var(--secondary-color);
    grid-template-rows: 80% 20%;
    }
    
    .contact{
    grid-column: 2 / 3; 
    grid-row: 1 / 2;
    font-size: 0.5em;
    padding-top: 7em;
    width: 96%; 
    }
    
    .info-contact{
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      font-family: paragraph-font;
      text-align: center;
      font-size: 1.1em;
      padding: 2em;
      width: 96%; 
      color:white;
    }
    
    .logo-footer{
      grid-column: 1 / 2; 
      grid-row: 1 / 2;
      display: block;
      width: 60%;
      background-color: var(--secondary-color);
      margin-top: auto;
      margin-left: auto;
      margin-right: auto;

    }
    
    
    .copyright{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    font-family: paragraph-font;
    text-align: center;
    font-size: 1.7vw;
    width: 96%; 
    color:white;
    }

    .copyright2 {

        display: none;
      }



/* discovery page css */


p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1.1em;
}

.title{
color: var(--secondary-color); 
}

.box-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(15, 1fr);
  padding-bottom: 15px;
}

.banner {
  grid-column: 1 / 10;
  grid-row: 1 / 4;

}

.banner img{
  width: 100%;
}

.box-section {
  grid-column: 2 / 9;
  grid-row: 2 / 7;
  background: #88c0de54;
  padding-top: 1.5em;
}

.box-headline {
  grid-column: 2 / 9;
  grid-row: 2 / 3;
  text-align: center;
  padding-top: 1.5em;
}

.box-paragraph {
  grid-column: 6 /9;
  grid-row: 3 / 7;
  padding-top: 3em;
  justify-self: start;
  width: 100%;
  padding-left: 10px;
}

.box-paragraph p{
  text-align: justify;
  font-size: 1.6vw;
}

.box-img {
  justify-self: start;
  grid-column: 2 / 6;
  grid-row: 3 / 7;
  width: 100%;
  padding-top: 5em;
  padding-left: 1.6em;
  
}

/* dicovery page part 2 */


.main-paragraph-1{
grid-column: 1/5;
grid-row: 7/10;
padding-top: 0.8em;
padding-left: 25px;
padding-right: 25px;
text-align: justify;
font-size: 1.6vw;
}

.main-paragraph-1 p{
text-align: justify;
font-size: 1.6vw;
}

.main-right-img{
grid-column: 6/10;
grid-row: 7/10;
width: 100%;
padding-top: 1.5em;
padding-left: 1.6em;
}

.img-efect{
width: 100%;
}

.main-paragraph-2{
grid-column: 6/10;
grid-row: 10/13;
padding-top: .1em;
padding-left: 25px;
padding-right: 25px;
text-align: justify;
}

.main-paragraph-2 p{
text-align: justify;
font-size: 1.6vw;
}

.main-left-img{
grid-column: 1/6;
grid-row: 10/13;
width: 80%;
padding-top: 0.5em;
padding-left: 0.6em;
}


.main-paragraph-3{
grid-column: 1/5;
grid-row: 13/16;
padding-top: 0.2em;
padding-left: 25px;
padding-right: 25px;
text-align: justify;
font-size: 1.6vw;
}

.main-paragraph-3 p{
text-align: justify;
font-size: 1.6vw;
}

.main-right-img-3{
grid-column: 5/9;
grid-row: 13/16;
width: 100%;
padding-top: 1.5em;
padding-left: 1.6em;
}

#img-box{
  width: 100%;
}
      
}
    

  