/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Shadows+Into+Light&display=swap');


:root {
  /* change the values below to your colors from your palette */
  --primary-color: #2a46e41c;
  --secondary-color: #01042ee4;
  --accent1-color: #38ca0e8f;
  --accent2-color: #9bde88ad;

  /* change the values below to your chosen font(s) */
  --heading-font: 'Montserrat', sans-serif;
  --paragraph-font: 'Raleway', sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: black;  /* headlines on a white background */ 

  --paragraph-color-on-white: black; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 

  --nav-link-color: #396E94;
  --nav-background-color: #2a87e4ca;
  --nav-hover-link-color: #E7C24F;
  --nav-hover-background-color: #396E94;
}


html {
background-color: var(--paragraph-color-on-color);
}

body {
max-width: 940px;
margin: 0 auto;
background-color: white;
padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
font-family: var(--heading-font);
color: var(--paragraph-color-on-white);
}

p {
font-family: var(--paragraph-font);
color: var(--headline-color-on-white);
}


header {
display: grid;
padding-bottom: 15px;
background-color: var(--secondary-color);
line-height: 1em;
text-align: center;
font-size: 1.1vw;
}

h1 {
text-align: center;
color:white;
padding-top: 0.5em;
}

h2 {
text-align: center;
color:white
}


main{
  display: grid;
  grid-template-columns: 1fr;
}

.main-title-1{
  text-align: center;
  padding: 0.5em;
  border: 10px solid rgb(255, 255, 255);
  background-color: rgb(129, 174, 219);
}

.main-title-2{
  text-align: center;
  padding: 0.5em;
  border: 10px solid rgb(255, 255, 255);
  background-color: rgb(129, 174, 219);
}

.main-title-3{
  text-align: center;
  padding: 0.5em;
  border: 10px solid rgb(255, 255, 255);
  background-color: rgb(129, 174, 219);
    }

h3{
  background-color: rgba(5, 49, 93, 0.637);
  display: block;
  font-size: 1.17em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: bold;
}

h4{
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

img{
  grid-column: 1/1;
  grid-row: 2/3;
  width: 100%;
}

p{
  text-align: justify;
}

footer {
display: grid;
max-width: 100%;
grid-template-columns: 1fr;
background-color: var(--secondary-color);
grid-gap: 2em
}

.copyright{
grid-column: 1 / 3;
grid-row: 1 / 2;
font-family: Lato, Helvetica, sans-serif;
text-align: center;
font-size: 0.8em;
padding: 1em;
width: 96%; 
color:white
}

