/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Shadows+Into+Light&display=swap');


:root {
  /* change the values below to your colors from your palette */
  --primary-color: #283618;
  --secondary-color: #606C38;
  --accent1-color: #F4F3F7;
  --accent2-color: #C7BCC1;

  /* change the values below to your chosen font(s) */
  --heading-font: 'Montserrat', sans-serif;
  --paragraph-font: 'Raleway', sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #283618;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #283618; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #283618;
  --nav-link-color: #C7BCC1;
  --nav-background-color:  #606C38;
  --nav-hover-link-color: #E7C24F;
  --nav-hover-background-color: #C7BCC1;
}


html {
background-color: var(--paragraph-color-on-color);
}

body {
max-width: 940px;
margin: 0 auto;
background-color: var(--paragraph-color-on-color);
padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
font-family: var(--heading-font);
color: var(--paragraph-color-on-white);
}

p {
font-family: var(--paragraph-font);
color: var(--headline-color-on-white);

}

li{
  font-family: var(--paragraph-font);
  color: var(--headline-color-on-white);
  text-align: justify;
  padding-left: 50px;
  padding-right: 112px;
  line-height: 25px;
  padding-bottom: 6px;
}

header {
display: grid;
padding-bottom: 15px;
background-color: var(--primary-color);
line-height: 1.4em;
text-align: center;
font-size: 2.4vh;
}

h1 {
text-align: center;
color: var(--paragraph-color-on-color);
padding-top: 0.5em;
}

h2 {
text-align: center;
color:var(--paragraph-color-on-color);
}


main{
  display: flex;
  flex-direction: column;
}

.main-title-1{
  text-align: center;
  padding: 0.5em;
  border: 10px solid var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}

.main-title-2{
  text-align: center;
  padding: 0.5em;
  border: 10px solid var(--nav-link-color);
  background-color: var(--nav-background-color);
}

.main-title-3{
  text-align: center;
  padding: 0.5em;
  border: 10px solid var(--accent1-color);
  background-color: var(--nav-background-color);
    }

h3{
  background-color: var(--paragraph-background-color);
  display: flex;
  font-size: 1.6em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: bold;
}

h4 h5 {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  padding-left: 40px;
  padding-top: 27px;

}

h4{
  font-size: 1.5em;
} 


h5 {
  font-size: 1.2em;
}

img{
  grid-column: 1/1;
  grid-row: 9/10;
  width: 60%;
  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#iphone{
  width: 50%;
}

#tablet{
  width: 100%;
  padding-left: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#desktop{
  width: 100%;
  padding-left: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}



p {
  text-align: justify;
  padding-left: 50px;
  padding-right: 112px;
  line-height: 25px;
  padding-top: 1em;
  padding-bottom: 1em;
}



.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center;
}
.colors th {
  background-color: var(--nav-hover-background-color);
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

footer {
display: grid;
max-width: 100%;
grid-template-columns: 1fr;
background-color: var(--secondary-color);
grid-gap: 2em
}

.copyright{
grid-column: 1 / 3;
grid-row: 1 / 2;
font-family: var(--heading-font);
text-align: center;
font-size: 0.8em;
padding: 1em;
width: 96%; 
color: var(--accent1-color);
}

  /* responsive top navigation */

  body {
    max-width: 940px;
    margin: 0 auto;
    background-color: var(--accent1-color);
    padding: 1em;
  }
  
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 0;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;

  }


  .topnav {
    overflow: hidden;
    background-color: var(--accent2-color);
  }
  
  .topnav a {
    float: left;
    display: block;
    color: var(--paragraph-color-on-white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 3vh;
  }
  
  .topnav a:hover {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
  }
  
  .topnav a.active {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }